### **First Python Program**

In [1]:
print("Hello World")

Hello World

In [2]:
print('Hello World')

Hello World

In [8]:
print("hello", 'world', end ="\n")  #end has default value new line carriage return
print("new line")

hello world
new line

In [7]:
print("hello", 'world', end ="\t") # but we can change it
print("new line")

hello world	new line

### **Variables**

In [79]:
age = 12

In [4]:
name = "nandhu"

In [5]:
surname = 'Gopal'

In [6]:
price = 12.23

In [7]:
first_name = "Nandhagopal"   # snake case is best practice for variable name, no special character or starting with a number

In [10]:
is_online = False

In [11]:
patient_name = "John Smith"

In [12]:
patient_age = 20

In [13]:
is_new_patient = True

### **User Input**

In [18]:
name = input("What is your name?")

What is your name? Nila

In [20]:
print("Hello " +name)

Hello Nila

### **Type Conversion**

In [27]:
birth_year = input("what year did you born?")

what year did you born? 1997

In [28]:
birth_year_int = int(birth_year)

In [30]:
user_age = 2023 - birth_year_int

In [32]:
print("The user "+ str(user_age) + " years old")

The user 26 years old

In [33]:
# int() float() str() bool()

In [34]:
first = float(input("enter the first number"))

enter the first number 12

In [35]:
second = float(input("Enter the second number"))

Enter the second number 18.1

In [38]:
print(f"the sum of the two given numbers is {first + second}")     # this  f is print formatter

the sum of the two given numbers is 30.1

### **Strings**

In [50]:
course = "python for beginners" # string is object in python

In [51]:
course.capitalize()

'Python for beginners'

In [52]:
course.upper()

'PYTHON FOR BEGINNERS'

In [53]:
course

'python for beginners'

In [54]:
course.find("y")

1

In [55]:
course.replace("for", "4")

'python 4 beginners'

In [56]:
print("python" in course)

True

### **Arithmetic Operations**

In [80]:
10 + 3  # data type should match

13

In [58]:
10 - 3

7

In [59]:
10 * 2

20

In [66]:
11 / 2

5.5

In [67]:
11 // 2

5

In [68]:
3 % 2

1

In [71]:
x = 3
x = x + 3 
print(x)

6

In [72]:
x = 3
x += 3
print(x)

6

### **Operator Precedence**


#### **Arithmetic Operators**: 
These are evaluated first. The order of precedence is as follows:

1. Exponentiation **
2. Multiplication and division **(*, /, //, %)**
3. Addition and subtraction **(+, -)**
4. Relational Operators: These are evaluated next. They compare values and return a Boolean result. Examples include **(<, >, <=, >=, ==, and !=)**.
5. Logical Operators: These are evaluated last. They combine Boolean values. The logical operators are **and**, **or**, and **not**.

##### **Logical operator**

In [75]:
price = 25

print( 10 < price and price < 30 )   # True when both operants are true

True

In [76]:
price  = 5

print ( 10 < price or price < 30)

True

In [78]:
its_true = True

print ( not its_true)

False

### **If- else**

In [85]:
temperature =  35

if temperature > 30:
    print("its hot day")

print("Done")

# indentation is important in python

its hot day
Done

In [89]:
temperature =  20

if temperature > 30:
    print("its hot day")
elif temperature <= 20:
    print("its normal day")
elif temperature <= 10:
    print("its cold day")
else:
    print("there is no data")

its normal day

In [94]:
 # Exercise 

weight = float(input("Enter your weight: "))
scale = input("is it in (K)g or (L)bs: ") ## 12 lbs  = 1 kg

if scale.upper() == "K":
    print(f"Your weight in lbs : { 2.2046226218  * weight} Lbs")
elif scale.upper() == "L":
    print(f"Your weight in kg : {weight //  2.2046226218 } Kg")
else:
    print("Invalid metrics")

Enter your weight:  76
is it in (K)g or (L)bs:  k

Your weight in lbs : 167.5513192568 Lbs

### **While**

In [98]:
i = 1

while i <= 5:
    print(i * "*")
    i+=1

*
**
***
****
*****

### **Lists**

In [99]:
list_name = ["nandhu","Naruto","Hinata","Kakashi","Tsunade"]

In [100]:
list_name[0]

'nandhu'

In [101]:
list_name[-1]

'Tsunade'

In [102]:
list_name[0:3]

['nandhu', 'Naruto', 'Hinata']

In [103]:
list_name[0] = "Nandhu"

In [104]:
print(list_name)

['Nandhu', 'Naruto', 'Hinata', 'Kakashi', 'Tsunade']

In [105]:
list_name.append("Sasuke")

In [106]:
print(list_name)

['Nandhu', 'Naruto', 'Hinata', 'Kakashi', 'Tsunade', 'Sasuke']

In [107]:
list_name.insert(0,"Sakura")

In [108]:
print(list_name)

['Sakura', 'Nandhu', 'Naruto', 'Hinata', 'Kakashi', 'Tsunade', 'Sasuke']

In [110]:
list_name.remove("Nandhu")

In [111]:
print(list_name)

['Sakura', 'Naruto', 'Hinata', 'Kakashi', 'Tsunade', 'Sasuke']

In [112]:
list_name.clear()

In [113]:
print(list_name)

[]

In [114]:
list_name = [ 1, 2,3,4 ,5 ]

In [115]:
len(list_name)

5

### **For-Loop**

In [116]:
list_name = [1,2,3,4,5]

In [117]:
for item in list_name:
    print(item)

1
2
3
4
5

In [118]:
# using while loop

i = 0 
while i < len(list_name):
    print(list_name[i])
    i = i + 1

1
2
3
4
5

In [120]:
for index in range(0, len(list_name)):   ## range(0,5)--> 0,1,2,3,4  which is equals to range(5)
    print(list_name[index])

1
2
3
4
5

In [122]:
for item in range(0,10,2):
    print(item)

0
2
4
6
8

### **Tuples**

In [129]:
tuple_name = (1,2,3,4,5)  # tuples are immutable

In [127]:
tuple_name.count(3)

1

In [128]:
tuple_name.index(2)

1